body {
  background-color: tan;
  margin-left: 20%;   
  margin-right: 20%;
  border: 1px dotted gray;
  padding: 10px 10px 10px 10px; 
  font-family: sans-serif;
}
      
.hideme {
  display: none;
}      
