!!!
%link(rel="stylesheet" type="text/css" href="app.css")
#content
  %h1="Starbuzz Coffee Beverages #{@foo}"
  -@bar.each do |entry|
    %h2="#{entry[:name]}, #{entry[:price]}"
    %p="#{entry[:description]}"
  .hideme
    %h3 Beverage#list_static
    %p 
      %em Find me in app/views/beverage/list_static.rhtml
  
  
